@import './../../../assets/colors.scss';

.volontaire-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 144px 0px 144px;
    gap: 48px;    
    max-width: 1200px;
    height: 277px;    
    background: #007DFF;  
    width: 100%;

    .header-container {
        position: relative;
        width: 100%;

        h1 {
            margin-bottom: 24px;
            font-weight: 700;
        }

        .header-title{
            min-height: 58px;
            font-family: 'VC Honey';
            font-style: normal;
            font-size: 48px;
            line-height: 120%;
            color: #FFFFFF;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }
    
        h3 {
            display: flex;
            font-size: 18px;
            font-weight: 400;
    
            fa-icon {
                margin-right: 16px;
            }
        }

        .header-description {
            height: 19px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: #FFFFFF;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
            .header-container-description-icone{
                color:yellow
            }
        }      
    }
}

@media only screen and (max-width: 978px) {
    .volontaire-page {
        padding: 48px 10% 0px 10%;
    }
}
    