<div class="wish-detail-card">

    <!-- Bloc gauche informations volontaire  -->
    <div class="volontaire-detail">
        <div class ="volontaire-detail-inscription">
            <div class ="volontaire-detail-inscription-item">
                <img class="volontaire-detail-inscription-picture" src="/assets/images/defaultImage.png" alt="location dot image">
            </div>
            <div class ="volontaire-detail-inscription-id volontaire-detail-inscription-item">
                {{ wishConsultData.volontaireId }}
            </div>
           <div class ="volontaire-detail-inscription-date volontaire-detail-inscription-item">
            Inscrit le: {{ wishConsultData.dateInscription | date:'mediumDate' | customInterviewDate }}
        </div>
         </div>
        <div class ="volontaire-detail-personnal">
            <div class ="volontaire-detail-personnal-name volontaire-detail-personnal-item">
                {{ wishConsultData.prenom }} {{ wishConsultData.nom }}
            </div>
            <div class ="volontaire-detail-personnal-company volontaire-detail-personnal-item">
                {{ wishConsultData.nomCompany }}
            </div>
            <div class="volontaire-detail-personnal-item volontaire-detail-personnal-mission">
                <img class="volontaire-detail-personnal-icon" src="/assets/images/handPointRight.svg" alt="hand point right image">
                <div class="volontaire-detail-personnal-mission-texte">{{ wishConsultData.nomMission }}</div>
            </div>
            <div class ="volontaire-detail-personnal-localisation volontaire-detail-personnal-item">
                <img class="volontaire-detail-personnal-icon" src="/assets/images/location.svg" alt="location dot image">
                {{ wishConsultData.localisationMission }}
            </div>
            <div class ="volontaire-detail-personnal-coordinateur volontaire-detail-personnal-item">
                <img class="volontaire-detail-personnal-icon" src="/assets/images/user.svg" alt="user image">
                {{ wishConsultData.prenomCoordinateur }} {{ wishConsultData.nomCoordinateur }} - {{ wishConsultData.nomPoste }}
            </div>
        </div>
    </div> 

    <!-- Bloc droit informations statut  -->
    <div class="volontaire-detail-status">        
    <app-button-circle 
        [libelle]="getLibelleStatus(wishConsultData.wishStatus)"
        [circleColor]="getCircleColor(wishConsultData.wishStatus)"
        [readonly]="'true'"
        ></app-button-circle>
        <div class ="volontaire-detail-status-description">{{ getStatusDescription(wishConsultData.wishStatus)}}</div>
    </div>
</div>
