@import './../../../app/theme/palette.component.scss';

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins';
    max-width: 100%;
    max-width: 1056px;
    height: fit-content;
    font-style: normal;
    padding: 24px 16px;
    background-color: $default-white;
    border-radius: 25px;
    row-gap: 24px;

    .list-container-info{
        font-weight: 700;
        font-size: 14px;
        height: 24px;
    }

    .summary-container {    
        display: flex;
        align-items: baseline;   
        .summary-container-number {
            min-height: 36px;
            font-weight: 600;
            font-size: 45px;
            margin-right: 8px;
        }
        .summary-container-texte{
            font-weight: 400;
            font-size: 14px;
            min-height: 24px;
        }
    }

    .summary-bar{
        display: flex;
        width: 75%;
        border-radius: 25px;
        overflow: hidden;
        .summary-bar-section{
            height: 16px
        }
        .summary-bar-status-application{
            background-color:$application-wish-color;
        }
        .summary-bar-status-discussion{
            background-color:$discussion-wish-color;
        }
        .summary-bar-status-association-validation{
            background-color:$association-validation-wish-color;
        }
        .summary-bar-status-manager-validation{
            background-color:$manager-validation-wish-color;
        }
        .summary-bar-status-progress{
            background-color:$progress-wish-color;
        }
        .summary-bar-status-participated{
            background-color:$participated-wish-color;
        }
        .summary-bar-status-canceled{
            background-color:$canceled-wish-color;
        }

        /* Tooltip*/
        .summary-bar-section .summary-bar-status-tooltip {
            display: flex;
            flex-direction: row;
            visibility: hidden;
            color: black;
            justify-content: center;
            align-items: center;
        }

        .summary-bar-section:hover .summary-bar-status-tooltip {
            visibility: visible;
        }
    }

    .list-button-filter{
        display:flex;
        flex-wrap: wrap;
        width: 80%;
        gap: 1rem;
    }
    
    .scroll-wishes-container {
        height: 50rem;
        gap: 24px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;

        .data-card {
            min-width: 100%;
        }
    }    
}

@media only screen and (max-width: 400px) {
    .list-container {
       align-items: center;
       padding: 24px 0;
    }
}    