<div class="list-container">

  <!-- Informations des wishes totaux -->
  <div class="list-container-info">En ce moment</div>
  <div class="summary-container">
    <div class="summary-container-number">{{totalElement}}</div>
    <div class="summary-container-texte"> inscriptions</div>
  </div>

  <!-- Barre representant par couleur le % de répartition des statuts des wishes totaux -->
  <div class="summary-bar">
    <div [ngStyle]="{'min-width': getSizeBar('APPLICATION') + '%'}" 
    class="summary-bar-status-application summary-bar-section">
    <span class="summary-bar-status-tooltip">{{getSizeBar('APPLICATION') | number: '1.0-0'}} %</span>
    </div>
    <div [ngStyle]="{'min-width': getSizeBar('DISCUSSION') + '%'}"
    class="summary-bar-status-discussion summary-bar-section">
    <span class="summary-bar-status-tooltip">{{getSizeBar('DISCUSSION') | number: '1.0-0'}} %</span>
    </div>
      <div [ngStyle]="{'min-width': getSizeBar('WAITING_ASSOCIATION_VALIDATION') + '%'}"
      class="summary-bar-status-association-validation summary-bar-section">
      <span class="summary-bar-status-tooltip">{{getSizeBar('WAITING_ASSOCIATION_VALIDATION') | number: '1.0-0'}} %</span>
    </div>
      <div [ngStyle]="{'min-width': getSizeBar('WAITING_MANAGER_VALIDATION') + '%'}"
      class="summary-bar-status-manager-validation summary-bar-section">
      <span class="summary-bar-status-tooltip">{{getSizeBar('WAITING_MANAGER_VALIDATION') | number: '1.0-0'}} %</span>
    </div>
      <div [ngStyle]="{'min-width': getSizeBar('IN_PROGRESS') + '%'}"
      class="summary-bar-status-progress summary-bar-section">
      <span class="summary-bar-status-tooltip">{{getSizeBar('IN_PROGRESS') | number: '1.0-0'}} %</span>
    </div>
      <div [ngStyle]="{'min-width': getSizeBar('USER_HAS_PARTICIPATED') + '%'}"
      class="summary-bar-status-participated summary-bar-section">
      <span class="summary-bar-status-tooltip">{{getSizeBar('USER_HAS_PARTICIPATED') | number: '1.0-0'}} %</span>
    </div>
      <div [ngStyle]="{'min-width': getSizeBar('CANCELLED') + '%'}"
      class="summary-bar-status-canceled summary-bar-section">
      <span class="summary-bar-status-tooltip">{{getSizeBar('CANCELLED') | number: '1.0-0'}} %</span>
    </div>
  </div>

  <!-- Boutons permettant de filtrer une recherche sur un ou plusieurs statuts  -->
  <div>Suivez les inscriptions en fonction de leurs statuts</div>
  <div class="list-button-filter">
    <div class ="list-button-filter-item" *ngFor="let enum of statusNameEnum | keyvalue : returnZero">
      <app-button-circle 
      (click)="buttonClicked(enum.key)"
      [libelle]="enum.value"
      [circleColor]="getCircleColor(enum.key)"
      ></app-button-circle>
    </div>
  </div>

  <!-- Résultats scrollable  -->
  <div class="list-result-filter-info">{{wishesDataNumberResults}} inscriptions correspondent à votre recherche</div>
  <ng-container class="card-wish-details-container" *ngIf="wishesDataNumberResults > 0; else checkInput">
    <div
      class="scroll-wishes-container"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()"
      [scrollWindow]="false"
    >
    <div class="data-card" *ngFor="let wish of wishesInScroll">
      <app-wish-detail-card
        [wishConsultData]="wish">
      </app-wish-detail-card>
    </div>
    <div *ngIf="isLoading">Chargement...</div>
  </div>
  </ng-container>

  <!-- Gestion du message si pas de donnees a display  -->
  <ng-template #checkInput>
    <ng-container *ngIf="inputStatusListEmpty(); else noResults">
      Veuillez choisir un statut d'inscription
    </ng-container>
  </ng-template>
  <ng-template #noResults>Aucun volontaires ne sont à ce stade d'inscription</ng-template>
</div>
