@import './../../../assets/colors.scss';

.button-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    min-height: 32px;
    border: solid 1px;
    border-color:$light-grey;
    background-color:$white;
    border-radius: 25px;
    transition: 0.5 all ease-in-out;
    gap: 1rem;
    padding: 0.5rem;

    &:hover {
        cursor: pointer;
    }

    .circle-div{
        border-radius:50%;
        width: 16px;
        height: 16px;
    }    
}
.buttonSelected{
    background-color: $light-grey;
}